<div class="comment span-23  prepend-1 last <%= cycle('even', 'odd')%>">
	<div class='span-6 last'>
		<% if comment.commentpic? %>
			<%= link_to(image_tag(comment.commentpic.url(:small)),comment.commentpic.url, :class => 'comment-pic', :target => '_blank') %>
		<% else %>
			<p></p>
		<% end %>
	</div>
	<div class='comment-info span-16'>
		<%= render :partial => 'shared/tripcode_name_email', :locals => {:post => comment}%>
	  <dfn><%= comment.subject %></dfn>
		<em><%= comment.created_at %></em>
		<em>Comment: <%= comment.id %></em>
		<% if admin_signed_in? %>
			<div id="ban_block_<%= comment.client_ip %>">
			<%= render :partial => 'shared/ban_bar', :locals => {:post => comment }%>
			</div>
			<%= link_to 'Edit', edit_post_comment_path(comment.post, comment)%>
			<%= link_to 'Destroy', post_comment_path(comment.post, comment), :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	  <p><%= user_text_markdown(comment.message) %></p>
	</div>
</div>
