<div class="comment span-23  prepend-1 last <%= cycle('even', 'odd')%>">
	<div class='span-6 last'>
		<% if comment.commentpic? %>
			<%= link_to(image_tag(comment.commentpic.url(:small)),comment.commentpic.url, :class => 'comment-pic', :target => '_blank') %>
		<% else %>
			<p></p>
		<% end %>
	</div>
	<div class='comment-info span-16'>
		<%= render :partial => 'shared/tripcode_name_email', :locals => {:post => comment}%>
	  <dfn><%= comment.subject %></dfn>
		<em><%= time_ago_in_words(comment.created_at) %> ago</em>
		<br />
		<em>Comment: <%= comment.id %></em>
		<%= link_to 'Permalink', post_comment_path(comment.post, comment) %>
		<div class='admin' style='display:none;'>
			<%= link_to 'Edit', edit_post_comment_path(comment.post, comment)%>
			<%= link_to 'Destroy', post_comment_path(comment.post, comment), :confirm => 'Are you sure?', :method => :delete %>
		</div>
	  <p><%= user_text_markdown(comment.message) %></p>
	</div>
</div>
