<div class="comment span-24 last <%= cycle('even', 'odd')%>">
	<% if comment.commentpic? %>
		<%= link_to(image_tag(comment.commentpic.url(:small)),comment.commentpic.url, :class => 'comment-pic', :target => '_blank') %>
	<% else %>
		<p>None</p>
	<% end %>
	<div class='comment-info'>
		<%= sanitize tripcode_auth_tags(comment.tripcoded, comment.name)%>

	  <dfn><%= comment.subject %></dfn>
		<em><%= comment.created_at %></em>
		<em>No. <%= comment.id %></em>
		<% if admin_signed_in? %>
			<%= link_to 'Edit', edit_post_comment_path(comment.post, comment)%>
			<%= link_to 'Destroy', post_comment_path(comment.post, comment), :confirm => 'Are you sure?', :method => :delete %>
			<br />
			<%= comment.client_ip %>
		<% end %>
	  <p><%= user_text_markdown(comment.message) %></p>
	</div>
</div>