<table>
  <tr>
		<th>Thumb</th>
		<th>ID</th>
    <th>Name</th>
    <th>Subject</th>
    <th>Message</th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
		<td><%= image_tag comment.commentpic.url(:thumb) %>
    <td><%= comment.id %></td>
    <td><%= comment.name %></td>
    <td><%= comment.subject %></td>
    <td><%= comment.message %></td>
    <td><%= link_to 'Show', post_comment_path(comment.post, comment) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_post_comment_path %>
