<p class='large prepend-1 last'>
<%= link_to @comment.post.board.name, board_posts_path(@comment.post.board) %> \ 
<%= link_to @comment.post.id, @comment.post %> \ 
<%= link_to @comment.id, post_comment_path(@comment.post, @comment) %>
</p>
<p id="notice"><%= notice %></p>

<%= render @comment %>

<%= link_to 'Back', post_path(@comment.post) %>
