<%= semantic_form_for(@ban) do |f| %>
  <% if @ban.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ban.errors.count, "error") %> prohibited this ban from being saved:</h2>

      <ul>
      <% @ban.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% f.inputs do %>
	  <%= f.input :client_ip %>
	  <%= f.input :reason %>
	  <%= f.input :expires_at %>
	  <%= f.input :permanent %>
	<% end %>

	<%= f.buttons %>
<% end %>
