<%= semantic_form_for(@ban) do |f| %>
  <% if @ban.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ban.errors.count, "error") %> prohibited this ban from being saved:</h2>

      <ul>
      <% @ban.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% f.inputs do %>
	  <%= f.input :client_ip, :as => :select, :collection => Ban.ban_candidates  %>
	  <%= f.input :reason %>
	  <%= f.input :expires_at, :as => :radio, :collection => { '24 Hour' => 1.day.from_now, '3 Day' => 3.days.from_now, '5 Days' => 5.days.from_now, '1 Year' => 1.year.from_now } %>
	  <%= f.input :permanent %>
	<% end %>

	<%= f.buttons %>
<% end %>
