<p>
  <b>Client ip:</b>
  <%= @ban.client_ip %>
</p>

<p>
  <b>Reason:</b>
  <%= @ban.reason %>
</p>

<p>
  <b>Expires:</b>
  <% if @ban.permanent %>
		Never - Ban is Permanent
	<% else %>
		<%= @ban.expires_at %> (<%= distance_of_time_in_words(Time.now, @ban.expires_at) %> from now.)
	<% end %>
</p>

<p>
  <b>Content Deleted?:</b>
  <%= @ban.destructive %>
</p>


<%= link_to 'Edit', edit_ban_path(@ban) %> |
<%= link_to 'Back', bans_path %>
