<div class='span-20 append-2 prepend-2'>
<%= semantic_form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% f.inputs do %>
	  <%= f.input :name %>
	  <%= f.input :slug %>
	  <%= f.input :description %>
		<%= f.input :category %>
		<%= f.input :post_limit %>
	<% end %>
	<%= f.buttons %>
<% end %>
</div>