<%= semantic_form_for(@post, :html => {:multipart => true}) do |f| %>

	<% f.inputs do %>
	  <%= f.input :name, :input_html => { :size => 10 } %>
	  <%= f.input :email %>
	  <%= f.input :subject %>
	  <%= f.input :message %>
		<%= f.input :postpic, :hint => 'Max 5Mb. jpg/png/gif accepted' %>
	  <%= f.input :password %>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
