<div id='<%= dom_id(post) %>' class='post prepend-1 append-1 span-22 last '>

	<div class='postpic span-6'>
		<% if post.postpic? %>
			<%= link_to(image_tag(post.postpic.url(:small), :size => '200x200'),post.postpic.url, :class => 'postpic thickbox', :target => "_blank") %>
		<% else %>
			<p>None</p>
		<% end %>
		<%= render :partial => 'post_comment_thumbs', :locals => {:post => post} %>
	</div>
	<div class='post-info span-16 last'>
		<%= render :partial => 'shared/tripcode_name_email', :locals => {:post => post}%>
		<dfn><%= post.subject %></dfn>
		<em><%= timeago(post.created_at) %></em>
		<% if post.sticky? %>
			<%= image_tag "icons/note.png", :size => '16x16', :title => "Sticky Post", :class => 'sticky_post' %>
		<% end %>
		<% if post.locked? %>
			<%= image_tag "icons/lock.png", :size => '16x16', :title => "Locked Post", :class => 'locked_post' %>
		<% end %>
		<br />
		Post: <%= post.id %>
		<%= link_to('Show/Reply', post) if controller.action_name == 'index'%>
		<%= link_to "Picwall", picwall_path(post)%>
		<%= render :partial => 'post_admin_bar', :locals => {:post => post}%>
		<br />
		<br />
		<% if controller.action_name == 'index'%>
			<div class='<%= 'locked quiet' if post.locked? %>'>
				<%= user_text_markdown(post.message, 500)%>
			</div>
		<% else %>
			<div id='<%= dom_id(post)%>' class='<%= 'locked quiet' if post.locked? %>'>
				<%= user_text_markdown(post.message)%>
			</div>
		<% end %>
		<br />
		<em id='post_comments_count'><%= pluralize post.comments_count, 'comment' %>...</em>
		<br />
		<% if controller.action_name == "index"%>
			<table>
			<% post.comments.reverse[0..8].each do |comment| %>
				<tr>
					<td><%= render :partial => 'shared/tripcode_name_email', :locals => {:post => comment}%></td>
					<td><%= timeago(comment.created_at) %></td>
					<td><%= strip_tags user_text_markdown(comment.message,40) %></td>
				</tr>
			<% end %>
			</table>
		<% end %>
	</div>
</div>
