<div class='post span-24 last'>

	<div class='postpic span-6'>
		<% if post.postpic? %>
			<%= link_to(image_tag(post.postpic.url(:small)),post, :class => 'postpic', :target => "_blank") %>
		<% else %>
			<p>None</p>
		<% end %>
		<div class='post-comment-thumbs span-6 last'>
			<%= render :partial => 'post_thumbs', :locals => {:post => post}%>
		</div>
	</div>
	<div class='post-info span-16 last'>
		<%= sanitize tripcode_auth_tags(post.tripcoded, post.name)%>
		<dfn><%= post.subject %></dfn>
		<em><%= post.created_at %></em>
		<br />
		<em>No: <%= post.id %> - Current Rank: <%= post.position %></em>
		<%= link_to 'Show', post %>
		<%= link_to "Picwall", picwall_path(post)%>
		<% if admin_signed_in? %>
		<%= link_to 'Edit', edit_post_path(post) %>
		<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
		<br />
		Client IP: <%= post.client_ip %>
		<% end %>
		<br />
		<%= user_text_markdown(post.message, 500)%>
		<br />
		<em><%= pluralize post.comments_count, 'comment' %>...</em>
		<br />
		<% if controller.action_name == "index" %>
			<table>
			<% post.comments.reverse[0..8].each do |comment| %>
				<tr>
					<td><%= sanitize tripcode_auth_tags(comment.tripcoded, comment.name) %></td>
					<td><%= time_ago_in_words(comment.created_at) %> ago</td>
					<td><%= strip_tags user_text_markdown(comment.message,20) %></td>
				</tr>
			<% end %>
			</table>
		<% end %>
	</div>
</div>
