<%= auto_discovery_link_tag(:atom, "posts.atom", {:title => 'Posts Atom'}) %>

<%= render 'pagination' %>

<div id='new_post_form' style="display:none;">
	<%= render 'form' %>
</div>

<% cache @posts do %>
	<%= render @posts %>
<% end %>

<%= render 'pagination' %>

