<%= auto_discovery_link_tag(:atom, "#{board_posts_path(@board)}.atom", {:title => 'Posts Atom'}) %>

<p class='large prepend-1 last'>
<%= link_to 'Home', '/'%> \
<%= link_to @board.category.name, @board.category %> \
<%= link_to @board.name, board_posts_path(@board) %> \
All Posts
</p>

<div class='prepend-21 last'>
	<%= button_to_function 'New Post', "$('#new_post_form').toggle();" %>
</div>

<div id='new_post_form' style="display:none;" class='last'>
	<%= render 'form' %>
</div>

<div id='posts'>
<%= render 'posts' %>
</div>

