<%= auto_discovery_link_tag(:atom, "#{board_posts_path(@board)}.atom", {:title => 'Posts Atom'}) %>

<p class='large prepend-1 last'>
<%= link_to 'Home', '/'%> \
<%= link_to @board.category.name, @board.category %> \
<%= link_to @board.name, board_posts_path(@board) %> \
All Posts
</p>


<%= render 'pagination' %>

<div id='new_post_form' style="display:none;">
	<%= render 'form' %>
</div>

<% cache @posts do %>
	<%= render @posts %>
<% end %>

<%= render 'pagination' %>

