<% @last_13_posts.each do |going_fast|%>
<%= link_to(image_tag(going_fast.postpic.url(:thumb), :title => going_fast.subject), going_fast) %>
<% end %>
<%= button_to_function 'New Post', "Element.toggle('new_post_form', 'slide')"%>

<div id='new_post_form' style="display:none;">
<%= render 'form' %>
</div>
<div class='digg_pagination'>
	<%= will_paginate @posts %>
</div>

<%= render @posts %>

</table>

<div class='digg_pagination'>
	<%= will_paginate @posts %>
</div>



