<% @posts.each do |thumb|%>
<%= link_to(image_tag(thumb.postpic.url(:thumb), :title => thumb.subject), post_path(thumb)) %>
<% end %>
<%= button_to_function 'New Post', "Element.toggle('new_post_form', 'slide')"%>

<div id='new_post_form' style="display:none;">
<%= render 'form' %>
</div>
<div class='digg_pagination'>
	<%= will_paginate @posts %>
</div>

<%= render @posts %>

</table>

<div class='digg_pagination'>
	<%= will_paginate @posts %>
</div>



