<div class='span-24'>
	<%= auto_discovery_link_tag(:atom, "/posts/#{@post.id}.atom", {:title => 'Posts Atom'}) %>
	<% if @post.locked?%>
		<div class='prepend-18 last'><em>Thread Locked - Comment Limit</em></div>
	<% else %>
		<div class='pagination prepend-20 last'>
			<%= link_to_function 'New Comment', "Element.toggle('new_comment_form', 'slide')"%>
			<%= link_to('Edit', edit_board_post_path(@post.board, @post)) if admin_signed_in? %>
		</div>
	<% end %>
	<div id="new_comment_form" style="display:none;">
		<%= render 'comments/form'%>
	</div>
	<%= render @post %>
	<%= render @post.comments %>
</div>