<p class='large prepend-1 last'>
<%= link_to 'Home', '/'%> \
<%= link_to @post.board.category.name, @post.board.category %> \
<%= link_to @post.board.name, board_posts_path(@post.board) %> \ 
<%= link_to @post.id, @post %>
</p>


<div class='span-24 last'>
	<%= auto_discovery_link_tag(:atom, "/posts/#{@post.id}.atom", {:title => 'Posts Atom'}) %>
	<% if @post.limit_locked? || @post.locked? %>
		<div class='prepend-20 last'><em>Thread Locked</em></div>
	<% else %>
		<div class='pagination prepend-20 last'>
			<%= link_to_function 'New Comment', "$('#new_comment_form').toggle();"%>
		</div>
	<% end %>
	<div id="new_comment_form" style="display:none;" class='prepend-2 span-20 last'>
		<%= render 'comments/form'%>
	</div>
	<% cache @post do %>
		<div id='post' data-id='<%= @post.id %>'>
			<%= render @post %>
		</div>
	<% end %>
	<div id='comments'>
		<% cache @post.comments do %>
			<%= render @post.comments.order('created_at DESC') %>
		<% end %>
	</div>
</div>
