<div class='span-20 prepend-2 append-2 last'>
	<h3>Boards by Category</h3>
</div>

<% @categories.each do |category| %>
	<div class='span-20 prepend-2 append-2 last'>
		<table>
			<tr>
				<th>
					<%= category.name %> 
					<% if admin_signed_in? %>
						<%= link_to image_tag('icons/application_edit.png', :title => 'Edit'), edit_category_path(category) %>
						<%= link_to image_tag('icons/delete.png', :title => 'Delete'), category, :confirm => 'Are you sure?', :method => :delete %>
					<% end %>
				</th>
				<th>Posts</th>
				<th>Last Post</th>
				<th>Last Comment</th>					
				<th></th>
			</tr>
			<% category.boards.each do |board|%>
				<tr>
					<td>
						<%= link_to board.name, board_posts_path(board) %>
					</td>
					<td>
						<%= board.posts_count %>
					</td>
					<td>
						<%= time_ago_in_words(board.posts.last.created_at) + ' ago' unless board.posts_count < 1%>
					</td>
					<td>
						<%= time_ago_in_words(board.comments.last.created_at) + ' ago' unless board.comments.last.nil? %>
					</td>
					<td>
						<%= link_to image_tag('icons/information.png', :title => 'Info'), board_path(board) %>	
						<% if admin_signed_in? %>
							<%= link_to image_tag('icons/application_edit.png', :title => 'Edit'), edit_board_path(board) %>
							<%= link_to image_tag('icons/delete.png', :title => 'Delete'), board, :confirm => 'Are you sure?', :method => :delete %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
<% end %>


<br />
<% if admin_signed_in? %>
<div class='span-22 prepend-2'>
<%= link_to 'New Category', new_category_path %>
<%= link_to 'New Board', new_board_path %>
</div>
<% end %>