<p id="notice"><%= notice %></p>


<div class='span-6 prepend-2'>
	<%= link_to(image_tag(@picwall.postpic.url(:small), :size => '200x200'), @picwall.postpic.url, :target => '_blank', :class => 'fancybox', :rel => 'picwall') %>
</div>
<div class='span-15 prepend-1 last'>
	<div class='span-4'>
		Original Post: 
		<br />
		Picture Comments:
		<br />
		Text Comments:
	</div>
	<div class='span-4 last'>
		<%= link_to @picwall.board.name, board_posts_path(@picwall.board) %> \ <%= link_to "Post #{@picwall.id}", post_path(@picwall) %>
		<br />
		<%= @picwall.comments.has_attachment.count %>
		<br />
		<%= @picwall.comments.no_attachment.count %>
	</div>
</div>
<div class='span-22 prepend-2 last'>
	<% @picwall.comments.each do |comment|%>
		<%= link_to(image_tag(comment.commentpic.url(:small)), comment.commentpic.url, :target => '_blank', :class => 'fancybox', :rel => 'picwall') if comment.commentpic? %>
	<% end %>
</div>