<!DOCTYPE html>
<html>
	<head>
	  <title>Badhoc - <%= controller.controller_name.titlecase %></title>
		<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js' %>
	  <%= javascript_include_tag 'jquery.timeago.min', 'rails', 'application', 'fancybox/jquery.easing-1.3.pack', 'fancybox/jquery.fancybox-1.3.4.pack', 'fancybox/jquery.mousewheel-3.0.4.pack', :cache => true %>
		<%= stylesheet_link_tag  'fancybox/jquery.fancybox-1.3.4', 'category', 'board', 'formtastic', 'pagination', 'post', 'comment', 'blueprint/screen', 'site', :cache => true %>
	  <%= csrf_meta_tag %>

	</head>
	<body>
		<div class='container'>
			<% cache 'thumbbar' do %>
			<%= render :partial => 'shared/thumbbar'%>
			<% end %>
			<div class='span-24 last'>
					<div id='notice' class='<%= 'notice' if notice %>'><%= notice %></div>
			  	<div id="alert" class='<%= 'error' if alert %>'><%= alert %></div>
			</div>
			<% if admin_signed_in? %>
				<%= render :partial => 'shared/admin_box'%>
			<% end %>
	
			<div class='content'>
				<%= yield %>	
			</div>
	
		</div>
	</body>
</html>
