<!DOCTYPE html>
<html>
	<head>
	  <title>Badhoc - <%= controller.controller_name.titlecase %></title>
		<%= stylesheet_link_tag  'category', 'board', 'formtastic', 'pagination', 'post', 'comment', 'blueprint/screen', 'site', :cache => true %>
	  <%= javascript_include_tag :defaults, :cache => true %>
	  <%= csrf_meta_tag %>

	</head>
	<body>
		<div class='container'>
			<% cache 'thumbbar' do %>
			<%= render :partial => 'shared/thumbbar'%>
			<% end %>
			<div class='span-24 last'>
					<div id='notice' class='<%= 'notice' if notice %>'><%= notice %></div>
			  	<div id="alert" class='<%= 'error' if alert %>'><%= alert %></div>
			</div>
			<% if admin_signed_in? %>
				<%= render :partial => 'shared/admin_box'%>
			<% end %>
	
			<div class='content'>
				<%= yield %>	
			</div>
	
		</div>
	</body>
</html>
