<!DOCTYPE html>
<html>
	<head>
	  <title>Badhoc</title>
		<%= stylesheet_link_tag :flutie %>
	  <%= stylesheet_link_tag  'pagination'%>
	  <%= stylesheet_link_tag  'post'%>
	  <%= javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
	</head>
	<body>
<div class='content'>
		<%= yield %>	
</div>
	</body>
</html>
